.Productos {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 50px;
    color: white;


}

.automotores {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 20PX;
    filter: drop-shadow(1px 1px 5px #FCD34D);
}

.ventiladores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 15PX;
    filter: drop-shadow(1px 1px 5px #FCD34D);
}

.hidrojet {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 15PX;
    filter: drop-shadow(1px 1px 5px #FCD34D);
}

.aspiradora {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 15PX;
    filter: drop-shadow(1px 1px 5px #FCD34D);
}

/* logo header */
.logo {

    width: 100px;
}


/* logo footer  */
.logo footer {

    width: 100px;
}

.headerlog {
    width: 100px;
}

.logoheader {
    height: 50px;
    width: 80px;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 60%;
    margin: auto;
}

.Btn {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: end;



    border: none;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;

}

.svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
}

.BG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #075e54;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all 0.3s;
}

.Btn:hover .BG {
    transform: rotate(35deg);
    transform-origin: bottom;
}

.Btn:hover .svgContainer {
    background-color: rgba(156, 156, 156, 0.466);
    backdrop-filter: blur(4px);


}

.card {
    width: fit-content;
    height: fit-content;
   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  }
  
  /* for all social containers*/
  .socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #0083b6;
    transition-duration: .3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .facebook:hover {
    background: linear-gradient(45deg, #134ac0, #316ff6, #78a3ff);}
    
    body, html {
      margin: 0;
      padding: 0;
      height: 100%;
      font-family: Arial, sans-serif;
  }
  
  .container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 35vh; /* Reducido el tamaño del contenedor */
     /* Rojo oscuro */
      position: relative;
      overflow: hidden;
      margin-top: 68px;
  }
  
  .background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(img/cool-background.png);
      opacity: 0.5; /* Opacidad para dar profundidad */
  }
  
  .content {
      position: relative;
      z-index: 1; /* Para estar sobre el fondo */
      text-align: center;
      color: rgb(0, 0, 0);
      padding: 20px;
      margin-bottom: 150px;
      font-family: "Fjalla One", sans-serif;
      font-size: 30px;
      
  }
  
  .cart {
      position: absolute;
      top: 90%;
      left: -100px;
      transition: left 1s ease-in-out;
  }
  
  .cart img {
      width: 150px; /* Tamaño reducido del icono */
      height: auto;
      margin-bottom: 80px;
  }
  
  .welcome-text {
      opacity: 1; /* Mostrar texto de bienvenida desde el principio */
  }
  
  .container:hover .cart {
      left: calc(50% - 30px);
  }
  
  
  

  .comic-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff5252;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .comic-button:hover {
    background-color: #fff;
    color: #ff5252;
    border: 2px solid #ff5252;
    box-shadow: 5px 5px 0px #ff5252;
  }
  
  .comic-button:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
  }
  